body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header button{
  display: flex;
  align-items: center;
  gap: 5px;
}


/* DARK MODE */
.dark-mode {
  transition: 0.3s;
  background-color: black;
}

.dark-mode h1{
  transition: 0.3s;
  color: white;
}

.dark-mode .note{
    transition: 0.3s;
    background-color: #fef68adf;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap; /* mantener cualquier tipo de espaciado al texto (los espacios de enters no se guardaban) */
}



.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  /* grid-template-columns: repeat(4, 250px);  4 columnas cada una de 250px de ancho */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*una columna no puede ser menor de 250px y no puede ser más grande que 1fr (1fr es para que basicamente cada nota sea igual, no una más grande que la otra) */
}

.note.new{
  background-color: #FAD287;
}

.note.new textarea{
  border: none;
  resize: none;
  background-color: #FAD287;
}

textarea:focus{
  outline: none;
}

.save{
  background-color:#e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  transition: 0.2s;
}

.save:hover{
  transform: scale(1.1);
  background-color: azure;
  cursor: pointer;
}

.note{
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap; /* mantener cualquier tipo de espaciado al texto (los espacios de enters no se guardaban) */
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon{
  transition: 0.2s;
}

.delete-icon:hover{
  transform: scale(1.2);
  color: rgb(124, 17, 17);
  cursor: pointer;
}

.search{
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5rem;
}

.search input{
  border: none;
  outline: none;
  background-color: rgb(233, 233, 233);
}



